/* <div class="header"></div>
<div class="nav"></div>
<div class="recommended-movies"></div>
<div class="ad-panel"></div>
<div class="live-events"></div> */

*{
    margin: 0px;
}

.main{
    display: flex;
    flex-direction: column;
}


.header-content{
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header-content img{
    width: 8rem;
    margin-left: 2rem;
}
.search-icon-bar{
    
}

/* .search-bar-icon{
    margin-top: 2rem;
    background-color: whitesmoke;
    font-size: 1.8rem;
} */

.search-bar{
    border: none;
    line-height: 2rem;
    background-color: whitesmoke;
}
