*{
    margin: 0;
    font-family: "Average Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main{
    margin: 0;
    height: 100vh;
    /* background-color: #F5F5F5; */
}

 /*-------------- HEADER SECTION -------------------- */

.header{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-body{
    display: flex; 
    width: 100%;
    padding: 0 20rem ;
    justify-content: center;
}
/* HEADER>logo-search */
.logo-search{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-search img{
    width: 8rem;
}

.search{
    width: 100%;
}
.search input{ 
    border: 1px solid rgba(0, 0, 0, 0.041);
    border-radius: 0.2rem;
    height: 2.1rem;
    width: 70%;
    margin-left:1rem;
}

/* HEADER>loc-sign-menu */
.loc-sign-menu{
    /* width:100%; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1em;
}

.loc-sign-menu select{
    border: none;
}

.loc-sign-menu button{
    border: none;
    padding : 0.4rem 1rem;
    background-color: #F84464;
    color: white;
}

/* --------------- END OF HEADER -------------- */


/* ----------------- START OF NAV --------------------- */
.nav{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.nav-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    padding: 0 20rem;
}

a{
    font-size:15px;
    font-weight:100;
    opacity: 0.9;
    text-decoration: none;
    color: black;
}

.nav-option{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.nav-offers{
    display: flex;
    gap: 0.7rem;
    align-items: center;
}



                /* -------------------------- END OF NAV ------------------------------ */

                /* ----------------- START OF RECOMMENDED MOVIES --------------------- */

.recommended-movies{
    height: 500px;
    /* display: flex;
    justify-content: center; */
}


.recommended-movies-body{
    height: 100%;
    /* background-color: #F5F5F5;  */
    padding: 0rem 20rem;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;

}

.recommended-movies-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.recommended-movies-title h2{
    font-weight: 700;
}
.recommended-movies-title a{
    text-decoration: none;
}

/* -----------  CARDS  ----------------*/

.recommended-movies-cards{  
    height: 100%; 
}

.cards-main{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
}

.cards{
    height: fit-content;
    width: 230px;
}

.movie-banner{
    height: 350px;
}
.movie-banner img{
    height: 350px;
    width: 100%;
    border-radius: 9px 9px 0 0;
}

.movie-rating{
    height: 30px;
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 0 0 9px 9px;
}

.movie-rating i{
    margin-left: 5%;
}
.movie-rating p{
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.87);
}
.movie-title{
    margin-top: 5px;
}

.movie-title h3{
    font-weight: 700;
}
.movie-genres h3{
    opacity: 0.5;
}

/* -----------  END OF CARDS  ----------------*/

            /* ----------------- END OF RECOMMENDED MOVIES --------------------- */